[submodule "libultraship"]
	path = libultraship
	url = https://github.com/m17h/libultraship.git
	branch = graphics/native-lighting
[submodule "torch"]
	path = torch
	url = https://github.com/HarbourMasters/Torch.git
	branch = main
